.center-card {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1.5rem;

    background-color: white;
    border-radius: 5px;
    padding: 10px;

    margin-bottom: 1.5rem;
}

.center-image {
    width: 20%;
    height: auto;
    border-radius: 5px;
}

.center-info{
    width: auto;
}

.center-title{
    font-size: 1.5rem;
    margin-top: 0;
    width: 100%;
}

.center-details {
    margin: 0;
}