.suggestions-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 5px;
    padding: 1%;
}

.center-button{
    background-color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    box-sizing: border-box;
}

.center-button-selected{
    background-color: gray;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    box-sizing: border-box;
}

.center-button:hover {
    background-color: deepskyblue;
}