.nav-bar{
    color:white;
    display: flex;              
    justify-content: space-between;

    margin: 3.12rem 3.9%;
    margin-bottom: 0%;
}

.nav-title {
    font-size: 2.5rem;
    font-weight: 700;

    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0%;
    margin-bottom: 0.94rem;
}

.nav-buttons {
    font-size: 1.88rem;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    margin: 0%;
    margin-bottom: 0.94rem;
    
    column-gap: 2.19rem;
}

.nav-button {
    font-weight: 100;

    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0%;

    transition: font-weight 0.2s ease-in-out;
    text-decoration: none;
    color: white;
}

.nav-button:hover {
    font-weight: 500;
}

.nav-separator {
  margin: 0% 3.9%;
  margin-bottom: 3.12rem;
  border-top: 1px solid white;
}